<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.adp.sla.dao.SlaSupplierDAO" >
  <resultMap id="BaseResultMap" type="com.haier.adp.sla.dto.SlaSupplierDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="percent" property="percent" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, supplier_id, supplier,project_id,project_name,percent
  </sql>
  <select id="getSlaSupplierList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from t_sla_supplier
    where 1=1
    <if test="projectName!=null">
      and BINARY project_name=#{projectName}
    </if>
    <if test="projectId!=null">
      and BINARY project_id=#{projectId}
    </if>
    <if test="supplierId!=null">
      and supplier_id=#{supplierId}
    </if>
  </select>
</mapper>